<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
        <link rel="stylesheet" href="/css/style.css">
        <link rel="stylesheet" href="/css/style-home.css">
        <title>Mercado Liebre</title>
    </head>
    <body>

        <!-- <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre"> -->

        <header>
            <div class="header-logo-busqueda">
                <img class="logo" src="/images/logo-mercado-liebre.svg" alt="">
                <form class="form" action="">
                    <input class="busqueda" type="text" placeholder="Busca productos, marcas">
                    <i class="fas fa-search"></i>
                </form>
                <p id="copy"><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
    
            <!-- Menú hamburgesa -->
            <div class="hamburguesa">
                <div class="burger-menu">
                    <i class="fas fa-bars"></i>
                </div> 
            </div>
    
            <!--Barra de navegación-->
            <div>
                <nav class="menu-nav">
                    <ul class="site">
                        <li><a href="home">Ofertas</a></li>
                        <li><a href="#">Tiendas oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <li><a href="#">Ayuda</a></li>
                    </ul>
                    <ul class="login-navbar">
                        <li><a href="registro">Crea tu cuenta <i class="far fa-id-card"></i></a></li>
                        <li><a href="login">Ingresa <i class="fas fa-sign-in-alt"></i></a></li>
                        <li><a href="#">Mis compras <i class="fas fa-shopping-basket"></i></a></li>
                    </ul>
                </nav>
            </div>
    
        </header>
        
        
        <!--Banner-->
        <div class="banner">
             <img class="img-banner" src="/images/img-home-banner.jpg" alt="">
         </div>
    
        
    
    
        <!-- main -->
        <main>
    
            <!-- Párrafo Basado en visita -->
            <div class="titulares">
                <p>Basado en tu última visita</p>
            </div>
    
            <!-- productos basado en visita -->
            <div class="productos">
                <!-- cafetera -->
                <div class="articulos">
                    <img class="img-producto" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="datos">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>   
                    </div> 
                </div>
    
                <div class="espacio"></div>
    
                <!-- MacBook -->
                <div class="articulos">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="datos">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>   
                    </div>                         
                </div>
    
                <div class="espacio"></div>
    
                <!-- Samsung -->
                <div class="articulos">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="datos">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>   
                    </div>                         
                </div>
    
                <div class="espacio"></div>
    
                <!-- SmartTv -->
                <div class="articulos">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="datos">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>   
                    </div>                         
                </div>
    
                <div class="espacio"></div>
            </div>
    
            <!-- Párrafo Ofertas -->
            <div class="titulares">
                <p>Ofertas</p>
            </div>
    
            <!-- productos basado en visita -->
            <div class="productos">
                <!-- cafetera -->
                <div class="articulos">
                    <img class="img-producto" src="/images/img-cafetera-moulinex.jpg" alt="">
                    <div class="datos">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>   
                    </div> 
                </div>
    
                <div class="espacio"></div>
    
                <!-- MacBook -->
                <div class="articulos">
                    <img class="img-producto" src="/images/img-macbook-pro-2019.jpg" alt="">
                    <div class="datos">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>   
                    </div>                         
                </div>
    
                <div class="espacio"></div>
    
                <!-- Samsung -->
                <div class="articulos">
                    <img class="img-producto" src="/images/img-samsung-galaxy-s10.jpg" alt="">
                    <div class="datos">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>   
                    </div>                         
                </div>
    
                <div class="espacio"></div>
    
                <!-- SmartTv -->
                <div class="articulos">
                    <img class="img-producto" src="/images/img-tv-samsung-smart.jpg" alt="">
                    <div class="datos">
                        <i class="fas fa-truck"></i>
                        <div class="precio-descuento">
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                        </div>
                        <p class="descripcion">Cafetera Moulinex</p>   
                    </div>                         
                </div>
    
            </div>
            <div class="espacio"></div>

        </main>
    
        <!-- footer -->
        <footer >
            <div class="paga">
                <i class="fas fa-credit-card iconos-footer iconos"></i> <br />
                <strong>Pagá con tarjeta o en efectivo</strong>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="envio">
                <i class="fas fa-gift iconos-footer iconos"></i> <br />
                    <strong>Envío gratis desde $2.500</strong>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="seguridad">
                <i class="fas fa-user-shield iconos-footer iconos"></i> <br />
                <strong>Seguridad de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
            </div>
    
        </footer>
    
        <div class="copyright">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </div>
    </body>
</html>
