<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/style.css">
        <title>Mercado Liebre</title>
    </head>
    <body>
        <header>
            <section>
                <img src="/images/logo-mercado-liebre.svg" alt="logo-mercado-liebre">
            </section>
            
            <section class="amarillo"> 
                <!--Barra de búsqueda-->
                <section>
                    <p>Lugar para tener la barra de búsqueda</p> 
                </section>
                <section>
                    <p>Comprá en cuotas y sin tarjeta de crédito</p>
                </section>
                
                <!--Barra de navegación-->
                <nav>
                    <ul class="titulares">
                        <li><a href="#">Ofertas</a></li>
                        <li><a href="#">Tiendas oficiales</a></li>
                        <li><a href="#">Vender</a></li>
                        <br />
                        <li><a href="#">Ayuda</a></li>
                        <li><a href="#">Crea tu cuenta</a></li>
                        <li><a href="#">Ingresa</a></li>
                        <li><a href="#">Mis compras</a></li>
                    </ul>
                </nav>
            </section>
        
        </header>

        <!--Productos-->
        <main>
            <!--Sección Basado en tu última visita-->
            <section> 
                <h2>Basado en tu última visita</h2>
                <!--Sección cafetera-->
                <section>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </section>

                <!--Sección MacBook-->
                <section>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p>MacBook Pro 2019</p>
                </section>
                <!--Sección Samsung-->
                <section>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p>Samsung Galaxy S10</p>
                </section>
                <!--Sección SmartTv-->
                <section>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <p>$23.200</p>
                    <p>50% off</p>
                    <p>SmartTv Samsung 43"</p>
                </section>
            </section>

            <!--Sección de ofertas-->
            <section> 
                <h2>Sección de Ofertas</h2>
                <!--Sección cafetera-->
                <section>
                    <img src="/images/img-cafetera-moulinex.jpg" alt="cafetera-moulinex">
                    <p>$6.770</p>
                    <p>40% OFF</p>
                    <p>Cafetera Moulinex</p>
                </section>

                <!--Sección MacBook-->
                <section>
                    <img src="/images/img-macbook-pro-2019.jpg" alt="MacBook Pro 2019">
                    <p>$230.000</p>
                    <p>20% off</p>
                    <p>MacBook Pro 2019</p>
                </section>
                <!--Sección Samsung-->
                <section>
                    <img src="/images/img-samsung-galaxy-s10.jpg" alt="Samsung Galaxy S10">
                    <p>$70.500</p>
                    <p>10% off</p>
                    <p>Samsung Galaxy S10</p>
                </section>
                <!--Sección SmartTv-->
                <section>
                    <img src="/images/img-tv-samsung-smart.jpg" alt="SmartTv Samsung 43">
                    <p>$23.200</p>
                    <p>50% off</p>
                    <p>SmartTv Samsung 43"</p>
                </section>
            </section>
        </main>

        <footer>
            <!--Lista secciones-->
            <section>
                <!--Sección Paga con tarjeta-->
                <section>
                    <strong>Pagá con tarjeta o en efectivo</strong>
                    <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
                </section>
                <!--Sección Envío gratis-->
                <section>
                    <strong>Envío gratis desde $2.500</strong>
                    <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
                </section>
                <!--Sección Seguridad-->
                <strong>Seguridad de principio a fin</strong>
                <p>¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@</p>
                <!--Sección Copyright-->
                <section>
                    <p>copyright © 1999-2020 MercadoLiebre S.R.L.</p>
                </section>
            </section>
        </footer>
    </body>
</html>
