/* estilos generales */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Roboto;
    font-size: 12px;
}
 
.numeros {
    font-size: 18px;
    color: blue;
}

.descuento, .descripcion {
    font-size: 16px;
}

.precio {
    font-size: 18px;
}

.iconos {
    font-size: 2em;
    margin-bottom: 10px;
} 

.titulares p {
    color: #666;
}

img {
    width: 100%;
}